# 백엔드 관련 제외
backend/node_modules/
backend/.env

# 프론트엔드 추가 제외 사항 (필요 시)
frontend/.expo/
frontend/dist/
frontend/.env

*.env
*.env.local
*.env.development
*.env.production

node_modules/
backend/node_modules/
frontend/node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

frontend/.expo/
frontend/dist/
frontend/web-build/
*.metro-health-check*

frontend/android/.gradle/
frontend/android/app/build/
frontend/ios/Pods/
frontend/ios/build/

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?